.icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}

.page_nav img {
  max-width: 100%;
  background: none;
}

body {
  position: relative;
}

/* new */
body {
  margin-top: 69px;
}

.feather {
    vertical-align: text-bottom;
    height: 20px;
}

.postcard {
    max-height: 200px;
    aspect-ratio: 1.33333 / 1;
    object-position: center center;
    object-fit: cover;
    cursor: pointer
}

#ul-region, #ul-country {
    column-count: 3;
}