---
title: gutools.css
---

.icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}

.page_nav img {
  max-width: 100%;
  background: none;
}

body {
  position: relative;
}

/* new */
body {
  margin-top: 69px;
}

.feather {
    vertical-align: text-bottom;
    height: 20px;
}

.postcard {
    max-height: 200px;
    aspect-ratio: 1.33333 / 1;
    object-position: center center;
    object-fit: cover;
    cursor: pointer
}

#ul-region, #ul-country {
    column-count: 3;
    column-gap: 0px;
}

.img-thumbnail {
    padding: 0px;
}

.postcard-image-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Aspect ratio: 4:3 */
    overflow: hidden;
}

.postcard-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*逆时针旋转的特殊feather ccw*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.feather-refresh-ccw {
    animation: rotate .7s infinite linear;
}

summary::before {
    content: url("{{ site.baseurl }}{{ "/plus-square.svg"}}");
    margin-right: 0.25em;
    height: 22px;
}

details[open] summary::before {
    content: url("{{ site.baseurl }}{{ "/minus-square.svg"}}");
}

summary {
    cursor: pointer;
    padding-left: 12px !important;
}
