---
layout: default
---
<div class="container my-4">
  <div class="row">
    <!-- Section for Received Postcards -->
    <div class="col-12 mb-4">
      <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ site.baseurl }}/received"><h3>最近收到的明信片</h3></a>
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 row-cols-xxl-6 g-2">
      {% assign postcards = site.data.received | reverse %}
      {% for postcard in postcards | limit: 6 %}
      <div class="col">
        <div class="card h-100">
          <div class="postcard-image-container">
            <img src="{{ site.baseurl }}/received/{{ postcard.id }}.jpg" class="card-img-top" alt="Postcard Image">
          </div>
          <div class="card-body">
            <h5 class="card-title">{% if postcard.title == "" or postcard.title == null %}{{ postcard.id }}{% else %}{{ postcard.title }}{% endif %}</h5>
            <p class="card-text">
              {% assign s = postcard.sent_date | date: '%s' %}
              {% assign r = postcard.received_date | date: '%s' %}
              {% assign secondsSince = r | minus: s %}
              {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
              {% assign daysSince = hoursSince | divided_by: 24 %}
              <strong>寄片人:</strong> <a href="{{ postcard.friend_url }}" target="_blank">{{ postcard.friend_id }}</a><br>
              <strong>用时:</strong> {{ daysSince }} 天<br>
              <strong>来自:</strong> {{ postcard.country }}{% if postcard.region == "" or postcard.region == null %}{% else %} - {{ postcard.region }}{% endif %}<br>
              <strong>平台:</strong> {{ postcard.platform }}
            </p>
            <a href="{{ postcard.url }}" class="btn btn-primary" target="_blank">查看详情</a>

          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    <div class="col-12 mb-4">
      <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ site.baseurl }}/sent"><h3>最近寄出的明信片</h3></a>
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 row-cols-xxl-6 g-2">
      {% assign postcards = site.data.sent | reverse %}
      {% for postcard in postcards | limit: 6 %}
      <div class="col">
        <div class="card h-100">
          <div class="postcard-image-container">
            <img src="{{ site.baseurl }}/received/{{ postcard.id }}.jpg" class="card-img-top" alt="Postcard Image">
          </div>
          <div class="card-body">
            <h5 class="card-title">{% if postcard.title == "" or postcard.title == null %}{{ postcard.id }}{% else %}{{ postcard.title }}{% endif %}</h5>
            <p class="card-text">
              {% assign s = postcard.sent_date | date: '%s' %}
              {% assign r = postcard.received_date | date: '%s' %}
              {% assign secondsSince = r | minus: s %}
              {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
              {% assign daysSince = hoursSince | divided_by: 24 %}
              <strong>收件人:</strong> <a href="{{ postcard.friend_url }}" target="_blank">{{ postcard.friend_id }}</a><br>
              <strong>用时:</strong> {{ daysSince }} 天<br>
              <strong>寄往:</strong> {{ postcard.country }}{% if postcard.region == "" or postcard.region == null %}{% else %} - {{ postcard.region }}{% endif %}<br>
              <strong>平台:</strong> {{ postcard.platform }}
            </p>
            <a href="{{ postcard.url }}" class="btn btn-primary" target="_blank">查看详情</a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
